<h1>Edit Your Wine</h1>

<form method="POST" action="/wines/<%= @wine.id %>">
<input type="hidden" name="_method" value="PUT">
    <h3>Name: <input type="wine[name]" name="name" value="<%=@wine.name%>"></h3>
    <h3>Year: <input type="text" name="wine[year]" value="<%=@wine.year%>"></h3>
    <h3>Varietal: <input type="text" name="wine[varietal]" value="<%=@wine.varietal%>"></h3>
    <h3>Wine Style: <input type="text" name="wine[wine_style]" value="<%=@wine.wine_style%>"></h3>
<input type="submit" value="Update Wine">
</form>
    
