<h1>All Wines</h1>

<h2> Let's Explore Some Wines, <%= current_user.email%></h2>

<% @wines.each do |wine| %>
   <h3><%= wine.id%>. <a href= "wines/<%= wine.id%>"><%= wine.name %></a></h3>
   <p> Added By: <%= wine.user.user_name%></p>
    <% end %>


<br>#show user's wines
#option to edit wines 
#option to navigate to add new wine route



