<h1>All Wines</h1>

<h2> Let's Explore Some Wines, <%= current_user.first_name%></h2>

<% @users.each do |user| %>
   <h3><%= user.id%>. <a href= "users/<%= user.id%>"><%= user.first_name %>'s Wine Collection</a></h3>
      <% user.wines.each do |wine| %>
         <h4> - <a href= "wines/<%= wine.id%>"><%= wine.name%></a></h4>
    <% end %>
<% end %>



